@font-face {
    font-display: swap;
    font-family: 'Carlito';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Carlito-Regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  
@font-face {
    font-display: swap;
    font-family: 'Carlito';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/Carlito-Italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    font-family: 'Carlito';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Carlito-Bold.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    font-family: 'Carlito';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/Carlito-BoldItalic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}